<p>
	<%= retweet.retweet %>
</p>
<%= link_to "Edit", edit_tweet_retweet_path(retweet.tweet, retweet), class: "btn btn-success" %>
<%= link_to "Delete", [retweet.tweet, retweet], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>